$White: #ffffff;
$Tuna: #363740;
$Fog: #DDE2FF;
$Victoria: #52489C;
$Charade: #252733;
$Fiord: #4B506D;
$Shamrock: #29CC97;
$Pomegranate: #F12B2C;
$Amber: #FEC400;
$Kournikova: #FFE66D;
$Cabaret: #D44D5C;
$Melanzane: #170312;
$Spun-Pearl: #AFADB5;
$Santas-Gray: #9FA2B4;
$Athens-Gray: #DFE0EB;
$French-Gray: #C5C7CD;