<section class="ProgressCardSection">
    <main class="">
        <div class="Container">
            <div class="Wrapper">
                <div class="Card">
                    <h2 class="CardTitle">Created</h2>
                    <p class="CardProgressNumber">60</p>
                </div>
                <div class="Card">
                    <h2 class="CardTitle">Doing</h2>
                    <p class="CardProgressNumber">16</p>
                </div>
                <div class="Card">
                    <h2 class="CardTitle">Closed</h2>
                    <p class="CardProgressNumber">43</p>
                </div>
                <div class="Card">
                    <h2 class="CardTitle">Re-Opened</h2>
                    <p class="CardProgressNumber">64</p>
                </div>
            </div>
        </div>
    </main>
</section>