<section class="DashboardNavigation">
    <nav class="">
        <div class="Container">
            <div class="Wrapper">
                <h2 class="SectionTitle">
                    Overview
                </h2>
                <div class="UserInformationWrapper">
                    <div class="UserProfile">
                        <p class="UserProfileName">{{UserInformation.name}}</p>
                        <div class="UserProfileImageWrapper">
                            <img src={{UserInformation.picture}} alt="" class="UserProfileImage">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>