<section class="NavigationSection">
    <div class="Container">
        <div class="LogoWrapper">
            <img src="" alt="" class="LogoIcon">
            <a href="/SaverBugTracker/index">
                <h1 class="LogoText">Saver BugTraker</h1>
            </a>
        </div>
        <div class="MenuListWrapper">
            <ul class="MenuList">
                <!--class="Active"-->
                <li>
                    <a href="/SaverBugTracker/dashboard">
                        <div class="ListWrapper">
                            <img src="/SaverBugTracker/Assets/Dashboard/Icons/OverviewIcon.svg" alt="" class="ListIcon">
                                <p class="ListText">
                                    Home
                                </p>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="/SaverBugTracker/dashboard/trackbugs">
                        <div class="ListWrapper">
                            <img src="/SaverBugTracker/Assets/Dashboard/Icons/TrackBugsIcon.svg" alt="" class="ListIcon">
                                <p class="ListText">
                                    Track Bugs
                                </p>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="/SaverBugTracker/dashboard/settings">
                        <div class="ListWrapper">
                            <img src="/SaverBugTracker/Assets/Dashboard/Icons/SettingsIcon.svg" alt="" class="ListIcon">
                            <p class="ListText SettingsList">
                                Settings
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>