<section class="NavigationSection">
    <div class="Container">
        <div class="LogoWrapper">
            <img src="" alt="" class="LogoIcon">
            <h1 class="LogoText">Saver</h1>
        </div>
        <div class="MenuListWrapper">
            <ul class="MenuList">
                <!--class="Active"-->
                <li>
                    <div class="ListWrapper">
                        <img src="/SaverBugTracker/Assets/Dashboard/Icons/OverviewIcon.svg" alt="" class="ListIcon">
                        <a href="SaverBugTracker/dashboard">
                            <p class="ListText">
                                Overview
                            </p>
                        </a>
                    </div>
                </li>
                <li class="">
                    <div class="ListWrapper">
                        <img src="/SaverBugTracker/Assets/Dashboard/Icons/TrackBugsIcon.svg" alt="" class="ListIcon">
                        <a href="dashboard/trackbugs">
                            <p class="ListText">
                                Track Bugs
                            </p>
                        </a>
                    </div>
                </li>
                <li class="">
                    <div class="ListWrapper">
                        <img src="/SaverBugTracker/Assets/Dashboard/Icons/SettingsIcon.svg" alt="" class="ListIcon">
                        <p class="ListText SettingsList">
                            Settings
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>