<section class="HeroSection">
    <main class="Hero">
        <div class="Container">
            <div class="Wrapper">
                <div class="heroContained">
                    <div class="HeroTextMEssageWrapper">
                        <div class="ArrowAffect">
                            <img src="./Assets/HeroArrowAffect.svg" alt="HeroArrowAffect" class="">
                        </div>
                        <div class="HeroMessageWrapper">
                            <h1 class="HeroTitle">
                                Track You Bugs With SaverBug Tracker
                            </h1>
                            <p class="HeroDescription">
                                Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi, adipiscing mauris non. 
                                Purus parturient viverra nunc, tortor sit laoreet. Quam tincidunt aliquam adipiscing tempor.
                            </p>
                            <div class="CallToAction">
                                <button class="HeroCallToAction">
                                    Get Started with SaveBug Tracker
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="HeroImageWrapper">
                <img src="./Assets/HeroImage.png" alt="Photo of study session" class="HeroImage">
            </div>
        </div>
    </main>
</section>