<section class="HeroSection">
    <main class="Hero">
        <div class="Container">
            <div class="Wrapper">
                <div class="heroContained">
                    <div class="HeroTextMEssageWrapper">
                        <div class="ArrowAffect">
                            <img src="./Assets/HeroArrowAffect.svg" alt="HeroArrowAffect" class="">
                        </div>
                        <div class="HeroMessageWrapper">
                            <h1 class="HeroTitle">
                                Track You Bugs With SaverBug Tracker
                            </h1>
                            <p class="HeroDescription">
                                A simple, fast and reliable way to manage your bugs. You can manage bugs based on projects and create a new one if needed.
                                
                            </p>
                            <div class="CallToAction">
                                <button class="HeroCallToAction">
                                    Get Started with SaveBug Tracker
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="HeroImageWrapper">
                <img src="./Assets/HeroImage.png" alt="Photo of study session" class="HeroImage">
            </div>
        </div>
    </main>
</section>