<section class="NavigationSection">
    <nav class="Navigation">
        <div class="Container">
            <div class="Wrapper">
                <div class="LogoWrapper">
                    <img src="../Assets/NavigationLogo.svg" alt="SaveBugTracker navigation logo image" class="LogoImage" />
                    <h1 class="LogoText">SaveTracker</h1>
                </div>
                <ul class="MenuListItemsWrapper">
                    <li class="MenuListItem">Product</li>
                    <li class="MenuListItem">Services</li>
                    <li class="MenuListItem">Article</li>
                    <li class="MenuListItem">About Us</li>
                </ul>
                <div class="NavigationButtonWrapper">
                    <a href="../Controller/Login.php">
                        <button class="NavigationSignInButton">Sign In</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</section>