<section class="StatsSection">
    <main class="Stats">
        <div class="Container">
            <div class="LeftContainer">
                <h2 class="SubHeader">
                    Our Product
                </h2>
                <h1 class="SectionHeader">
                    Crafted by talented and 
                    high quality material
                </h1>
                <p class="SectionDescription">
                    Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi, 
                    adipiscing mauris non purus parturient. morbi fermentum, vivamus et accumsan dui tincidunt pulvinar
                </p>
                <button class="LearnMoreButton">Learn More</button>
                <div class="StatCounterWrapper">
                    <div class="Experience">
                        <strong>20+</strong> <br />
                        Years Experience
                    </div>
                    <div class="Client">
                        <strong>483</strong> <br />
                        Happy Client
                    </div>
                    <div class="Projects">
                        <strong>150+</strong> <br />
                        Project Finished
                    </div>
                </div>
            </div>
            <div class="rightContainer">
                <img src="./Assets/OurProductImage.png" alt="Our team working together in groups" class="OurProductImage">
            </div>
        </div>
    </main>
</section>