<section class="BugListingSection">
    <main class="MainBugListing">
        <div class="Container">
            <div class="BugListingWrapper">
                <table class="BugListing">
                    <thead class="BugListingHeading">
                        <tr class="">
                            <td style="padding-bottom: 12px;" colspan="0">Bug Detail</td>
                            <td style="padding-bottom: 12px;" colspan="0">Customer name</td>
                            <td style="padding-bottom: 12px;" colspan="2">Date</td>
                            <td style="padding-bottom: 12px;" colspan="0">Priority</td>
                        </tr>
                    </thead>
                    <tbody class="BugListingContentContained">
                        <tr class="BugListingContent">
                            <td class="BugDetailsWrapperFirst">
                                <div class="BugDetailsUserImageWrapper">
                                    <img class="BugDetailsUserImage" src="../../Assets/Dashboard/Images/UserProfileImage.png" alt="">
                                </div>
                                <div class="BugDetailsWrapper">
                                    <a href="/SaverBugTracker/dashboard/50daabe83ea037a3208d5f67f9b3fc18/edit/">
                                        <p class="BugName">
                                            Contact Email not Linked
                                        </p>
                                    </a>
                                    <p class="UpdatedDate">
                                        Updated 1 day ago
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="CustomerNameWrapper">
                                    <p class="CustomerName">
                                        Haily Mentos
                                    </p>
                                    <p class="DateJoined">
                                        on 24.05.2019
                                    </p>
                                </div>
                            </td>
                            <td>
                                <td>
                                    <div class="DateWrapper">
                                        <p class="Date">
                                            May 26, 2019
                                        </p>
                                        <p class="DateJoined">
                                            6:30 PM
                                        </p>
                                    </div>
                                </td>
                            </td>
                            <td>
                                <button class="PriorityButton HighPriority">HIGH</button>
                            </td>
                            <td class="ThreeDots">
                                <img src="../../Assets/Dashboard/Icons/ThreeDot.svg" alt="">
                            </td>
                        </tr>
                        <tr class="BugListingContent">
                            <td class="BugDetailsWrapperFirst">
                                <div class="BugDetailsUserImageWrapper">
                                    <img class="BugDetailsUserImage" src="../../Assets/Dashboard/Images/UserProfileImage.png" alt="">
                                </div>
                                <div class="BugDetailsWrapper">
                                    <p class="BugName">
                                        When will I be charged this month?
                                    </p>
                                    <p class="UpdatedDate">
                                        Updated 1 day ago
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="CustomerNameWrapper">
                                    <p class="CustomerName">
                                        Haily Mentos
                                    </p>
                                    <p class="DateJoined">
                                        on 24.05.2019
                                    </p>
                                </div>
                            </td>
                            <td>
                                <td>
                                    <div class="DateWrapper">
                                        <p class="Date">
                                            May 26, 2019
                                        </p>
                                        <p class="Time">
                                            6:30 PM
                                        </p>
                                    </div>
                                </td>
                            </td>
                            <td>
                                <button class="PriorityButton LowPriority">Low</button>
                            </td>
                            <td class="ThreeDots">
                                <img src="../../Assets/Dashboard/Icons/ThreeDot.svg" alt="">
                            </td>
                        </tr>
                        <tr class="BugListingContent">
                            <td class="BugDetailsWrapperFirst">
                                <div class="BugDetailsUserImageWrapper">
                                    <img class="BugDetailsUserImage" src="../../Assets/Dashboard/Images/UserProfileImage.png" alt="">
                                </div>
                                <div class="BugDetailsWrapper">
                                    <p class="BugName">
                                        When will I be charged this month?
                                    </p>
                                    <p class="UpdatedDate">
                                        Updated 1 day ago
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="CustomerNameWrapper">
                                    <p class="CustomerName">
                                        Haily Mentos
                                    </p>
                                    <p class="DateJoined">
                                        on 24.05.2019
                                    </p>
                                </div>
                            </td>
                            <td>
                                <td>
                                    <div class="DateWrapper">
                                        <p class="Date">
                                            May 26, 2019
                                        </p>
                                        <p class="DateJoined">
                                            6:30 PM
                                        </p>
                                    </div>
                                </td>
                            </td>
                            <td>
                                <button class="PriorityButton NormalPriority">Normal</button>
                            </td>
                            <td class="ThreeDots">
                                <img src="../../Assets/Dashboard/Icons/ThreeDot.svg" alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</section>