<section class="ProjectTicketFilterSection">
    <div class="Container">
        <div class="Wrapper">
            <p class="FilteredTitle">All Bugs</p>
            <div class="FilterWrapper">
                <div class="SortWrapper">
                    <img src="../../Assets/Dashboard/Icons/Sort.svg" alt="">
                    <p class="SortTitle">Sort</p>
                </div>
                <div class="FilterWrapper">
                    <img src="../../Assets/Dashboard/Icons/Filter.svg" alt="">
                    <p class="FilterTitle">Filter</p>
                </div>
            </div>
        </div>
    </div>
</section>