<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SaverBugTracker/Views/Styles/Css/TrackBugs.css">
    <link rel="stylesheet" href="/SaverBugTracker/Views/Styles/Css/Dashboard.css">
    <link rel="stylesheet" href="/SaverBugTracker/Views/Styles/Css/CreateProject.css">
    <title>Projects - TrackBugs</title>
</head>
<body>
    <div class="Container">
        <div class="Wrapper">
            {% include "./Components/Dashboard/Navbar.html" %}
            <div class="Container">
                <div class="MainDashbooard">
                    <div class="Dashboard">
                        {% include "./Components/Dashboard/DashboardMenu.html" %}
                        <div class="ProjectsTicketContained">
                            <div class="CreateProjectWrapper">
                                <div class="CreateNewProjectWrapper">
                                    <button class="CreateNewProject" id="CreateNewProject">Create New Project</button>
                                    <div class="CreateProjectPopUpWrapper Toggle" id="CreateProjectPopUpWrapper">
                                        <input type="text" class="ProjectTitle" id="ProjectTitle" placeholder="Enter Project Name"> <br />
                                        <button class="CreateProjectButton" id="CreateProjectButton">Create Project</button>
                                    </div>
                                </div>
                                <div class="CreatedProjectWrapper">
                                    {% for DisplayProject in DisplayProjects %}
                                            <div class="CreatedProject">
                                                <a href="trackbugs/{{DisplayProject.Project_Id}}">
                                                    <h1 class="ProjectMainTitle">{{DisplayProject.Project_Title}}</h1>
                                                </a>
                                                <div class="MenuIcon">
                                                    <div class="ThreeDotsWrapper">
                                                        <span class="dot-1"></span>
                                                        <span class="dot-2"></span>
                                                        <span class="dot-3"></span>
                                                    </div>
                                                    <div class="DisplayMenuList">
                                                        <ul>
                                                            <li>Edit</li>
                                                            <li>Delete</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="/SaverBugTracker/Script/Dashboard/Functionality.js"></script>
    <script src="/SaverBugTracker/Script/Dashboard/Routing.js"></script>
</body>
</html>