<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/SaverBugTracker/Views/Styles/Css/Dashboard.css">
        <!-- Chart Js CDN Link -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>{% block title %}Dashboard{% endblock %} | User's Name Here</title>
    {% endblock %}
</head>
<body>
    <div class="Container">
        <div class="Wrapper">
            {% include "./Components/Dashboard/Navbar.html" %}
            <div class="MainDashbooard">
                <div class="Dashboard">
                    {% include "./Components/Dashboard/DashboardMenu.html" %}
                    {% include "./Components/Dashboard/CardSection.html" %}
                    {% include "./Components/Dashboard/Chart.html" %}
                </div>
            </div>
        </div>
    </div>
    <script src="/SaverBugTracker/Script/Function.js"></script>
    <script src="/SaverBugTracker/Script/Dashboard/Chart.js"></script>
    <script src="/SaverBugTracker/Script/Dashboard/Routing.js"></script>
</body>
</html>